/* Colors */
$bg-color: #fafafa;
$white: #ffffff;
$blue: #0046d4;

/* Font Sizes */
$font-xxsm: 10px;
$font-xsm: 12px;
$font-sm: 14px;
$font-base: 16px;
$font-lg: 18px;
$font-xlg: 20px;
$font-xxlg: 24px;
$font-xxxlg: 32px;
$font-xxxxlg: 48px;

/* Font Weights */
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
