.input {
  padding-left: 0;
  position: relative;

  & span {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 7px;

    svg {
      height: 15px;
    }
  }

  input {
    border: none;
    outline: none;
    padding: 8px 12px;
    padding-left: 32px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    font-size: $font-sm;
  }
}
